<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <style>
        /* Vos styles existants */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .center-div {
            position: absolute;
            bottom: 50px;
        }
        .start-button {
            font-size: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="center-div">
    <!-- Utilisation d'un formulaire pour démarrer la session -->
    <form method="POST" action=""> <!-- assurez-vous que l'URL est correcte -->
        {% csrf_token %}
        <input type="submit" value="Démarrer" class="start-button" />
    </form>
</div>

</body>
</html>
